body {
    margin: 0;
    padding: 0;
    background-color: #131316;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    display: grid;
    align-content: center;
    place-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-100%);
    transition: all 1s;
}

/* @media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
} */

.show {
    opacity: 1;
    filter: blur(0);
    transform:translatex(0);
}

.logos {
    display: flex;
}

.logo img {
    margin: 0 3px;
    border-radius: 5px;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}